#page-title {
  color: #666666;
  background-color: #f8f8f8;
  font-size: 32px;
  line-height: 1.35;
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 1px 1px white;
}

.del-btn, .del-btn-edit {
  display: inline;
  float: right;
  background: url("/public/delete.png") no-repeat bottom left;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 16px;
  height: 18px;
}

.del-btn-edit {
  width: 20px;
  height: 21px;
}

#list {
  width: 283px;
  margin: 0 auto;
  padding: 20px 0 15px;
  position: relative;
}

.item, .item-new {
  overflow: hidden;
  *zoom: 1;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  border-radius: 6px 6px 6px 6px;
  list-style: none outside none;
  margin: 6px 0 0;
  padding: 8px 9px 9px;
  position: relative;
  text-shadow: 1px 1px 0 white;
  width: 250px;
}
.item:hover, .item-new:hover {
  border-color: #9be0f9;
  box-shadow: 0 0 5px #a6d5fd;
}
.item-new {
  padding: 4px 5px;
  width: 258px;
}
.input, .update-input {
  border: 1px solid #cccccc;
  color: #666666;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 15px;
  padding: 3px 4px;
  width: 248px;
  height: 19px;
}
.update-input {
  width: 220px;
}

.update-link {
  display: inline;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #666666;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  max-width: 15em;
  text-overflow: ellipsis;
}
.update-link:hover {
  color: #333333;
}

.update-form {
  display: inline;
  float: left;
}
