doctype html
html
  head
    title Express User
    link(rel='stylesheet', href='/public/styles.css')
    meta(http-equiv="refresh" content="0; url=/user/index.html")
  body
    #layout
      h1#page-title Express User
      block content
  
